
ul.vm
  
  li.d
    h4 Setup
  li
    a(href="") Getting Started
  li
    a(href="") CSS
  li
    a(href="") Stylus
  li
    a(href="") Stylus Files
  li
    a(href="") Using Stylus
  li
    a(href="") Applications
  li
    a(href="") JavaScript
  li
    a(href="") Global Styles
  li
    a(href="kitchen-sink.html") Kitchen Sink
      span.doing Doing
  li
    a(href="") Accessibility
  li
    a(href="") Upgrading

  li.d
    h4 Structure
  li
    a(href="media-queries.html") Media Queries
      span.done Done
  li
    a(href="visibility.html") Visibility
      span.incomplete Incomplete
  li
    a(href="grids.html") Grids
      span.incomplete Incomplete
  li
    a(href="block-grids.html") Block Grids
      span.done Done
  li
    a(href="utility-classes.html") Utility Classes
      span.done Done
  li
    a(href="javascript-utilities.html") Javascript Utilities
      span.later Later
  li
    a(href="right-to-left.html") Right-to-Left Support
      span.later Later
  li.d
    h4 Navigation
  li
    a(href="off-screen-menus.html") Off Screen Menus
      span.doing Doing
  li
    a(href="top-bar.html") Top Bar
      span.doing Doing
  li
    a(href="") Icon Bar
  li
    a(href="") Side Nav
  li
    a(href="") Magellan Sticky Nav
  li
    a(href="") Sub Nav
  li
    a(href="breadcrumbs.html") Breadcrumbs
      span.done Done
  li
    a(href="") Pagination

  li.d
    h4 Media
  li
    a(href="") Orbit Slider
  li
    a(href="") Thumbnails
  li
    a(href="") Clearing Lightbox
  li
    a(href="") Flex Video

  li.d
    h4 Forms
  li
    a(href="") Forms
  li
    a(href="") Switches
  li
    a(href="") Range Sliders
  li
    a(href="") Abide Validation

  li.d
    h4 Buttons
  li
    a(href="buttons.html") Buttons
      span.done Done
  li
    a(href="") Button Groups
  li
    a(href="") Split Buttons
  li
    a(href="") Dropdown Buttons

  li.d
    h4 Typography
  li
    a(href="types.html") Types
      span.done Done
  li
    a(href="inline-lists.html") Inline Lists
  li
    a(href="labels.html") Labels
      span.done Done
  li
    a(href="keystrokes.html") Keystrokes

  li.d
    h4 Callouts & Promps
  li
    a(href="") Reveal Modal
  li
    a(href="") Alerts
  li
    a(href="") Panels
  li
    a(href="") Tooltips
  li
    a(href="") Joyride

  li.d
    h4 Content
  li
    a(href="dropdowns.html") Dropdowns
      span.unimproved Unimproved
  li
    a(href="") Pricing Tables
  li
    a(href="") Progress Bars
  li
    a(href="") Tables
  li
    a(href="") Accordion
  li
    a(href="") Tabs
  li
    a(href="") Equalizer

  li.d
    h4 Support
  li
    a(href="") Changelog
  li
    a(href="") Compatibility