extends _layouts/docs

block body
	h1 Getting Started
	h3.sh
		| Getting started with gia.ui is easy. Whether you are a master of Stylus, building a new app, or making your existing site responsive, we've got you covered.
	hr
	h1 What is gia.ui?
	h3.sh gia.ui is the most advanced, responsive front-end framework in the world. The framework is mobile friendly and ready for you to customize it any way you want to use it.
	.rw
		.cl
			p Millions of designers and engineers use gia.ui as part of their workflows. It was the first framework to introduce the concepts of responsive design, semantics, mobile first and partials. It's also compatibile with most browsers and devices. Foundation is the professional choice for designers and engineers.
			p
				a(href="") Why choose foundation →
				br
				a(href="") Foundation Compatibility →