block variables
  - title = 'Javascript Utilities'
extends _layouts/docs

block body

  h1 JavaScript Utilities
  h3 gia.ui includes a handful of helpful JavaScript utilities to help you add common functionalities to your apps and plugins.
  hr