block variables
  - title = 'Right-to-Left Support'
extends _layouts/docs

block body

  h1 Right-to-Left Support
  h3 Right-to-left text direction support in gia.ui allows you to easily switch text direction for all components.
  hr