block variables
  - title = 'Utility Classes'
extends _layouts/docs

block body

  h1 Utility Classes
  h3 gia.ui includes a handful of helpful utility classes to add certain behaviors to your elements.
  hr

  h2 Float Classes
  p You can change the float behavior of an element by adding left class
    span.class .l
    | or right class
    span.class .r
    | to an HTML element. To clear floats, add the class clearfix
    span.class .clf
    | to the parent element.
  .rw
    .cl.md-6
      h4 HTML
      pre
        code(data-language="html").
          <div class="clf">
            <a class="bt i l">Float Left</a>
            <a class="bt i r">Float Right</a>
          </div>
    .cl.md-6
      h4 Rendered HTML
      .clf
        a.bt.i.l Float Left
        a.bt.i.r Float Right
  hr

  h2 Radius and Round
  p The radius
    span.class .ra
    | and round
    span.class .rd
    | classes allow you to easily apply a border-radius to a UI-element. Adding the class to a button group will apply the border radius only to the outside corners.
  .rw
    .cl.md-6
      h4 HTML
      pre
        code(data-language="html").
          <span class="lb s [ra rd]">Labels</span>
          <a class="bt i [ra rd]">Buttons</a>
    .cl.md-6
      h4 Rendered HTML
      ul.bg.sm-3
        li
          span.lb.s.rd Labels
        li
          a.bt.w.ra Buttons
  hr

  h2 Text Align Classes
  p You can change the text alignment of an element by adding text-left
    span.class .tl
    | , text-right
    span.class .tr
    | , text-center
    span.class .tc
    | or text-justify
    span.class .tj
    | to an element.
  p Adding a size to the front of a text alignment class will cause it to only be applied on that size screen or larger (ex. medium-text-center
    span.class .md-tc
    | will center text for everything except small screens). Adding a size and only will apply the text alignment just for that media query (ex. medium-only-text-center
    span.class .mdo-tc
    | will center text just for medium screens).
  .rw
    .cl.md-6
      h4 HTML
      pre
        code(data-language="html").
          <p class="tl"><!-- Your content goes here --></p>
          <p class="tr"><!-- Your content goes here --></p>
          <p class="tc"><!-- Your content goes here --></p>
          <p class="tj"><!-- Your content goes here --></p>
    .cl.md-6
      h4 Rendered HTML
      p.tl The series follows the life of anti-social, pain killer addict, witty and arrogant medical doctor Gregory House with only half a muscle in his right leg. He and his team of medical doctors try to cure very ill ordinary people in the United States of America.
      p.tr Dr. Gregory House (Hugh Laurie) is a maverick medical genius who heads a team of young diagnosticians at the fictional Princeton-Plainsboro Teaching Hospital in New Jersey...
      p.tc An antisocial maverick doctor who specializes in diagnostic medicine does whatever it takes to solve puzzling cases that come his way using his crack team of doctors and his wits.
      p.tj This long-running medical drama follows the professional and personal life of Gregory House- a witty, arrogant, rule-breaking, self-destructive, pain-pill addicted but genius diagnostician at the fictional Princeton-Plainsboro Teaching Hospital in New Jersey. House and his team of doctors work against the clock to diagnose and treat patients when other doctors can't seem to figure out what's wrong with them, often resorting to unorthodox methods based on House's hunches on the patients, their families, or his own personal experiences.
  h4 Available Text Alignment Classes
  table
    thead
      tr
        th Align Left
        th Align Right
        th Align Center
        th Align Justify
    tbody
      - var prefixes = ['', 'sm-', 'smo-', 'md-', 'mdo-', 'lg-', 'lgo-', 'xl-', 'xlo-', 'xxl-', 'xxlo-']
      for i in prefixes
        tr
          td
            span.class .#{i}tl
          td
            span.class .#{i}tr
          td
            span.class .#{i}tc
          td
            span.class .#{i}tj
  hr
  h2 Hide an Element
  p You can add the class hide
    span.class .h
    | to an element to hide it. This will add the property
    span.class display: none
    | to the element.
  h4 HTML
  pre
    code(data-language="html").
      <div class="h"><!-- Your content goes here --></div>
  hr

  h2 Customize with Stylus
  p Customizing the block grid is easy with the Stylus variables provided in the
    span.class settings/utilities.styl
    | file.
  h4 Stylus
  pre
    code(data-language="stylus")
      include css/ui/_components/utilities.settings.styl
  hr

  h3 Stylus Errors?
  p Make sure you import this line in main file:
  h4 Stylus
  pre
    code(data-language="css").
      @import '_components/utilities'